@charset "UTF-8";
/* Colors */
body {
  padding: 0 3.5rem;
  background-color: #222222 !important;
  color: #FEFEFE !important;
  scroll-behavior: smooth; }

/* Arrow Go-up */
.go-up {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: -1; }
  .go-up__btn {
    background-color: #302e28;
    cursor: pointer;
    transform: translate(50%, 50%);
    z-index: -1; }
    .go-up__btn .fa-arrow-up {
      position: absolute;
      font-size: 1rem;
      top: 48%;
      left: 50%;
      transform: translate(50%, 50%) scale(0);
      color: #FEFEFE;
      transition: .2s; }

.show {
  z-index: 10; }

.show .go-up__btn {
  animation: popup .3s ease-in-out;
  width: 4rem;
  height: 4em;
  z-index: 11; }

.show .go-up__btn i {
  transform: translate(-50%, -50%) scale(1); }

/* Go-up Animation */
@keyframes popup {
  0% {
    width: 0;
    height: 0; }
  50% {
    width: 6rem;
    height: 6rem; }
  100% {
    width: 4rem;
    height: 4rem; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  /* Navbar */ }
  header .nav__links {
    list-style: none;
    padding: 0;
    margin: 0; }
    header .nav__links li {
      display: inline-block;
      padding: 0.4em 0.8em 0.4em;
      background: #302e28;
      font-size: 1.25em; }
      header .nav__links li:hover {
        background-color: #f0f0f0; }
        header .nav__links li:hover a {
          color: #0d1117; }
      header .nav__links li a {
        text-decoration: none;
        color: #FEFEFE; }
  header button {
    padding: 0.5em 0.7em 0.6em;
    margin: 0 3px 0 0;
    border: none;
    font-size: 1.25em;
    background: #302e28;
    color: #FEFEFE; }
    header button:hover {
      background-color: #f0f0f0;
      color: #0d1117; }

main {
  /* Cards */
  /* Description */
  /* General Choi Bibliography */
  /* Theory of Taekwon-Do */ }
  main .title {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #302e28; }
  main .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 4rem; }
    main .cards #card1 {
      grid-area: 1 / 1 / 2 / 2; }
    main .cards #card2 {
      grid-area: 1 / 2 / 2 / 3; }
    main .cards #card3 {
      grid-area: 1 / 3 / 2 / 4; }
    main .cards #card4 {
      grid-area: 1 / 4 / 2 / 5; }
    main .cards a {
      color: #FEFEFE; }
    main .cards .card {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 0;
      background: #302e28;
      text-align: center;
      font-size: 15px;
      /* Card 1 */
      /* Card 2 */
      /* Card 3 */
      /* Card 4 */ }
      main .cards .card:hover .card__front {
        transform: perspective(600px) rotateY(180deg); }
      main .cards .card:hover .card__back {
        transform: perspective(600px) rotateY(360deg); }
      main .cards .card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        transition: .5s; }
      main .cards .card__front {
        transform: perspective(600px) rotateY(0deg); }
        main .cards .card__front h3 {
          text-align: center;
          display: flex;
          justify-content: center;
          text-align: center;
          margin: 5rem; }
        main .cards .card__front p {
          font-size: 16px;
          padding: 0 20px; }
      main .cards .card__back {
        transform: perspective(600px) rotateY(180deg); }
        main .cards .card__back h3 {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          margin: 2.5rem; }
        main .cards .card__back p {
          font-size: 16px;
          padding: 0 20px; }
      main .cards .card #front1 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/general.jpg);
        background-size: cover;
        background-position: center center; }
      main .cards .card #back1 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/general.jpg);
        background-size: cover;
        background-position: center center; }
      main .cards .card #front2 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/logo.png);
        background-size: cover;
        background-position: center center; }
      main .cards .card #back2 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/logo.png);
        background-size: cover;
        background-position: center center; }
      main .cards .card #front3 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/ITF-flag.jpg);
        background-size: cover;
        background-position: center center; }
      main .cards .card #back3 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/ITF-flag.jpg);
        background-size: cover;
        background-position: center center; }
      main .cards .card #front4 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/teoríaTkd.jpg);
        background-size: cover;
        background-position: center center; }
      main .cards .card #back4 {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/img/teoríaTkd.jpg);
        background-size: cover;
        background-position: center center; }
  main .description {
    padding: 2rem;
    font-size: 20px;
    text-align: center;
    background: #302e28; }
  main .generalChoi {
    margin: 4rem 0; }
    main .generalChoi p {
      text-align: justify; }
    main .generalChoi h3 {
      padding: .5rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-size: 20px;
      background: #302e28; }
    main .generalChoi #generalChoi__title {
      margin-bottom: 2rem;
      padding: .5rem;
      background: #302e28;
      text-align: center; }
    main .generalChoi #gcImg1 {
      float: left;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      height: 300px;
      width: 250px; }
    main .generalChoi #gcImg2 {
      float: right;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem; }
    main .generalChoi #gcImg3 {
      float: left;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem; }
    main .generalChoi .generalChoi__finalImg {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-top: 4rem; }
      main .generalChoi .generalChoi__finalImg #card5 {
        grid-area: 1 / 1 / 2 / 2; }
      main .generalChoi .generalChoi__finalImg #card6 {
        grid-area: 1 / 2 / 2 / 3; }
      main .generalChoi .generalChoi__finalImg #card7 {
        grid-area: 1 / 3 / 2 / 4; }
      main .generalChoi .generalChoi__finalImg img {
        width: 300px;
        height: 300px; }
      main .generalChoi .generalChoi__finalImg .gCard {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 0;
        background: #302e28;
        text-align: center;
        font-size: 15px; }
        main .generalChoi .generalChoi__finalImg .gCard:hover .gCard__front {
          transform: perspective(600px) rotateY(180deg); }
        main .generalChoi .generalChoi__finalImg .gCard:hover .gCard__back {
          transform: perspective(600px) rotateY(360deg); }
        main .generalChoi .generalChoi__finalImg .gCard__face {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          overflow: hidden;
          transition: .5s; }
        main .generalChoi .generalChoi__finalImg .gCard__front {
          transform: perspective(600px) rotateY(0deg); }
        main .generalChoi .generalChoi__finalImg .gCard__back {
          transform: perspective(600px) rotateY(180deg); }
          main .generalChoi .generalChoi__finalImg .gCard__back p {
            font-size: 16px;
            padding: 0 20px; }
        main .generalChoi .generalChoi__finalImg .gCard #back5 {
          background: url(/resources/img/general3.jpg);
          background-size: cover;
          background-position: center center; }
        main .generalChoi .generalChoi__finalImg .gCard #back6 {
          background: url(/resources/img/general4.jpg);
          background-size: cover;
          background-position: center center; }
        main .generalChoi .generalChoi__finalImg .gCard #back7 {
          background: url(/resources/img/general5.jpg);
          background-size: cover;
          background-position: center center; }
  main .tkdTheory h3 {
    background: #302e28;
    padding: .5rem;
    margin: 1.5rem 0 1rem 0;
    font-size: 20px; }
